.project-section {
    max-width: 75rem;
    text-align: center;
    color: black;
  }

.project-item {
    font-weight: 500;
    color: white;
}

.project-checkmark {
    display: inline-flex;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.project-detail {
    margin: 0 0;
    padding: 0;
    font-weight: 100;
    font-size: 15px;
    display: inline;
    display: inline-flex;
    text-align: left;
    text-indent: 2rem;
    color: white;
  }
  .project-button {
    background-color: white;
    color: black;
    margin: 0 auto;
    /* need to center button */
  }

.resume-section {
    max-width: 75rem;
    text-align: center;
    color: white;
  }

.resume-item {
    font-weight: 500;
    color: white;
}

.resume-checkmark {
    display: inline-flex;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.resume-detail {
    margin: 0 0;
    padding: 0;
    font-weight: 100;
    font-size: 15px;
    display: inline;
    display: inline-flex;
    text-align: left;
    text-indent: 2rem;
    color: white;
  }
  .resume-button {
    background-color: white;
    color: black;
    margin: 0 auto;
    /* need to center button */
  }
  
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem;
    }
  }
  
  @media (min-width: 992px) {
    section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }